* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header .logo {
    position: absolute;
    width: 200px;
    height: 41px;
    left: 184px;
    top: 40px;
}

.header .menu {
    position: absolute;
    width: 327px;
    height: 32px;
    left: 557px;
    top: 44px;
}

.header .nav {
    display: flex;
    justify-content: space-between;
}

.header .nav li {
    list-style-type: none;
}

.header .nav li a {
    text-decoration: none;
    font-weight: 700;
    color: #696871;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header .nav li a:hover {
    color: #19191B;
}

.header .started {
    position: absolute;
    width: 213px;
    height: 60px;
    left: 1043px;
    top: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #FF7143;
    border-radius: 10px;
    text-decoration: none;
    padding: 19px 56px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main {
    display: float;
}

.main .content {
    float: left;
    position: absolute;
    width: 459px;
    height: 461px;
    left: 184px;
    top: 282px;
}

.main .content .content-title {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.50105px;
    color: #19191B;
}

.main .content .content-text {
    position: absolute;
    height: 90px;
    left: 0%;
    right: 0%;
    top: calc(50% - 90px/2 + 75.5px);
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
}

.main .content .content-started {
    position: absolute;
    left: 0%;
    right: 54.03%;
    top: 86.98%;
    bottom: 0%;
    background-color: #5454D4;
    border-radius: 10px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 20px;
}

.main .button-dowload {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 251px;
    top: 401px;
}

.main .sidebar {
    float: right;
    margin-top: 190px;
    margin-right: 100px;
}

.list-brand {
    position: absolute;
    width: 84.38px;
    height: 16.4px;
    left: 220.87px;
    top: 951.25px;
}

.list-brand ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.list-brand ul li {
    margin: 70px;
}

.des-1 .des1-img {
    position: absolute;
    width: 348.5px;
    height: 473px;
    left: 184px;
    top: 1132px;
}

.des-1 .des1-text {
    position: absolute;
    width: 556px;
    height: 229px;
    left: 698px;
    top: 1254px;
}

.des-1 .des1-text h3 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1.56316px;
    color: #19191B;
}

.des1-text p {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871; 
}

.des1-text a {
    font-weight: 700;
    font-size: 17px;
    color: #5454D4;
}

.des-2 .des2-text {
    position: absolute;
    width: 500px;
    height: 474px;
    left: 184px;
    top: 1850px;
}

.des-2 .des2-text h3 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1.56316px;
    color: #19191B;
}

.des2-text p {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
}

.des2-text a {
    font-weight: 700;
    font-size: 17px;
    color: #5454D4;
}

.des-2 .des2-img {
    position: absolute;
    width: 324px;
    height: 474px;
    left: 802px;
    top: 1688px;
}

.extend {
    display: flex;
    position: absolute;
    top: 2300px;
    margin-left: 200px;
}

.extend .extend-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.extend .title {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.750316px;
    color: #19191B;
}

.extend .title-text {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    width: 300px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.500211px;
    color: #696871;
}

.pay {
    position: absolute;
    height: 140px;
    left: 10%;
    right: 52.93%;
    top: 2500px;
    background-color: aquamarine;
    width: 1111px;
    height: 695px;
    
}

.pay .btn {
    position: absolute;
    left: 67.86%;
    right: 0%;
    top: 0%;
    bottom: 19.29%;
    
}

.pay h1 {
    position: absolute;
    height: 140px;
    left: 0%;
    right: 52.93%;
    top: 0%;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #19191B;
}

.pay .btn-year {
    width: 160px;
    height: 55px;
    background: #5454D4;
    border-radius: 10px 0px 0px 10px;
    outline: none;
    border: none;
}

.pay .btn-month {
    width: 344px;
    height: 65px;
    background: #F7F7FB;
    border-radius: 10px;
    text-align: right;
    outline: none;
    border: none;
}

.pay .btn-text {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.500211px;
    color: #19191B;
}

.pay .click {
    color: white;
    position: absolute;
    left: 2.31%;
    right: 51.45%;
    top: 7.69%;
    bottom: 7.69%;
}

.price {
    position: absolute;
    top: 30%;
    align-items: center;
}

.price-item {
    padding: 34px 24px 27px;
    background: #f8f8f8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.feature {
    background: #ff7143;
    box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
    padding: 50px 43px 37px;
    border-radius: 10px;
    justify-content: center;
}

.price-item.feature * {
    color: white;
    border-radius: 10px;
}

.price-label {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #696871;
    margin-bottom: 22px;
}

.price-title {
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 56px;
    color: #1d293f;
    margin-bottom: 28px;
}

.price-title .price-small {
    font-size: 30px;
}

.price-desc {
    font-weight: normal;
    font-size: 17px;
    line-height: 50px;
    margin-bottom: 36px;
    text-align: center;
}

.price-desc ul li {
    text-decoration: none;
}

.price-link {
    display: block;
    background: #ffffff;
    border: 1px solid #eae9f2;
    border-radius: 10px;
    color: #5454d4;
    font-weight: bold;
    font-size: 17px;
    line-height: 58px;
    text-align: center;
    height: 60px;
    width: 100%;
}

.price-item.feature {
    background: #ff7143;
    box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
    padding: 50px 43px 37px;
}

.price-item.feature .price-link {
    background: #9f3919;
    border: none;
}
